.photoContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.photoWrapper {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  padding-top: 1rem;
  clip-path: polygon(0 0, 51% 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  transition: all 0.3s;
  margin: 0 auto;
}

.photoWrapper:hover {
  transform: scale(1.05);
}

.backgroundPhoto {
  position: absolute;
  width: 29vw;
  margin-inline: auto;
  background-color: var(--blue);
  inset: auto 0 0;
  aspect-ratio: 1/1;
  clip-path: polygon(0 15%, 51% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
}

.photoContainer .portrait {
  position: relative;
  width: 29vw;
  transform: translateY(2rem);
  transition: all 0.3s;
  z-index: 2;
}

.photoWrapper:hover .portrait {
  transform: translateY(1rem);
}

@media (max-width: 1200px) {
  .backgroundPhoto {
    width: 33vw;
  }

  .photoContainer .portrait {
    width: 33vw;
  }
}

@media (max-width: 1100px) {
  .backgroundPhoto {
    width: 36vw;
  }

  .photoContainer .portrait {
    width: 36vw;
  }
}

@media (max-width: 1000px) {
  .backgroundPhoto {
    width: 39vw;
  }

  .photoContainer .portrait {
    width: 39vw;
  }
}

@media (max-width: 900px) {
  .backgroundPhoto {
    width: 42vw;
  }

  .photoContainer .portrait {
    width: 42vw;
  }
}

@media (max-width: 800px) {
  .backgroundPhoto {
    width: 45vw;
  }

  .photoContainer .portrait {
    width: 45vw;
  }
}

@media (max-width: 700px) {
  .backgroundPhoto {
    width: 55vw;
  }

  .photoContainer .portrait {
    width: 55vw;
  }
}

@media (max-width: 700px) {
  .photoWrapper {
    padding-top: 0;
  }
  .backgroundPhoto {
    width: 65vw;
  }

  .photoContainer .portrait {
    width: 65vw;
  }
}
