nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5% 1rem 2rem;
  transition: all 0.3s;
  z-index: 999;
}

nav p {
  font-size: 1.8rem;
  font-weight: 700;
}

.list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.list a {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-gray-100);
  transition: all 0.6s;
}

.list a:not(.contact)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background-color: var(--blue);
  transition: all 0.5s;
}

.list a:not(.contact):hover::after,
.list a.active::after {
  width: 100%;
}

.list a:not(.contact):hover,
.list a.active {
  color: var(--blue);
  text-shadow: 0 0 3px var(--blue-light);
  transform: scale(1.07);
}

.contact {
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  background-color: var(--blue);
  box-shadow: 0 0 10px var(--blue-light);
}

.list a.contact:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px cyan;
}

nav.sticky {
  background-color: rgba(0, 0, 0, 0.8);
}

/*MOBILE*/
.hamburgerMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 2px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue);
  box-shadow: 0 0 1rem var(--color-gray-100);
  cursor: pointer;
  z-index: 999;
}

.hamburgerMenu ion-icon {
  color: var(--blue-dark);
  width: 90%;
  height: 90%;
}

/*MEDIA QUERIES*/
@media (max-width: 800px) {
  nav p {
    font-size: 1.5rem;
  }

  .list a {
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {
  nav p {
    align-self: flex-start;
  }

  .list {
    display: none;
  }

  .list.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    transform: translateX(-2rem);
  }

  .hamburgerMenu {
    display: flex;
    align-self: flex-start;
  }
}
