@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #081b28;

  --color-gray-100: #f4f3f1;

  --blue-light: #00ffff;
  --blue: #00a2e1;
  --blue-darker: #165a72;
  --blue-dark: #081b28;
}

::-webkit-scrollbar {
  background: var(--blue-darker);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  cursor: default;
}
